<VirtualHost *:{{ apache_listen_port_http }}>
  ServerAdmin webmaster@localhost
  ServerName {{ apache_listen_ip }}

  DocumentRoot /var/www/html

  ErrorLog ${APACHE_LOG_DIR}/error.log

  # Possible values include: debug, info, notice, warn, error, crit,
  # alert, emerg.
  LogLevel warn

  CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>
